*{
  padding: 0;
  margin: 0;
}

body{
  font-family: Unbounded, arial;
  overflow-x: hidden;
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 25px 125px;
  align-items: center;
}

.middle-section{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 150px;
  font-size: 14px;
  font-weight: 300;
}

.right-section{
  flex-grow: 1;
}

.right-section{
  /* flex-grow: 1; */
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: flex-end;
}

.login{
  background-color: white;
  color: #3247C6;
  border: 1px solid #3247C6;
  font-size: 15px;
  padding: 10px 30px;
  border-radius: 5px;
}

.register{
  background-color:#E54F6D;
  color: white;
  border: none;
  font-size: 15px;
  padding: 10px 25px;
  border-radius: 5px;
}

.ri-arrow-down-s-line{
  font-size: 25px;
}

.arrd{
  display: flex;
  align-items: center;
}

.first-page{
  height: 70vh;
  padding: 60px 125px;
  display: flex;
}

.first-page-context{
  background-color: #3247C6;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding: 70px 80px;
  position: relative;
}

.left-side{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right-side{
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 30px;
  bottom: -30px;
}

.right-side>img{
  box-shadow: -30px -30px 20px 0px rgba(0, 0, 0, 0.256);
}

.first-para{
  color: white;
  font-size: 50px;
  font-weight: 200;
  
}

.second-para{
    font-size: 13px;
    color: white;
    font-weight: 200;
    margin-top: 35px;
    margin-bottom: 50px;
}

.sign-up{
  background-color:#3247C6;
  color:white;
  border: 1px solid white;
  font-size: 13px;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: 100;
}

.school{
  background-color:#E54F6D;
  color: white;
  border: 1px solid #E54F6D;
  border: none;
  font-size: 13px;
  padding: 10px 25px;
  border-radius: 5px;
  font-weight: 100;
  display: flex;
  align-items: center;
}

.ri-arrow-right-line{
  font-size: 18px;
}

.first-page-btns{
  display: flex;
  gap: 20px;
}

.second-page{
  height: 40vh;
  background: url("Abstract-wave-png-17\ 2.png") rgba(241, 238, 238, 0.315) top no-repeat;
  padding: 80px 125px;
  position: relative;
  overflow: visible;
  /* border: 1px solid black; */
}

.second-page-context{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.context-left-side{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 40%;
}

.second-page-title{
  font-size: 12px;
  color: #3247C6;
  font-weight: 700;
}

.second-page-header{
  font-size: 25px;
  font-weight: 500;
}

.context-right-side{
  flex-grow: 1;
}

.header-desc{
  font-size: 14px;
  font-weight: 300;
}

.second-page-ratings{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.second-page-ratings h2{
  color: #3247C6;
  font-size: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.context-right-side{
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 100px;
}

.sign-up-adv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px;
  background: url("Abstract-wave-png-17\ 2.png") center no-repeat #3248c6;
  position: absolute;
  left: 125px; 
  right: 125px;
  border-radius: 20px;
  bottom: -85px;
}

.sign-up-adv p{
  color: white;
  font-weight: 600;
  font-size: 25px;
}

.sign-up-adv button{
  background-color:#E54F6D;
  color: white;
  border: 1px solid #E54F6D;
  border: none;
  font-size: 13px;
  padding: 10px 40px;
  border-radius: 5px;
  font-weight: 100;
  display: flex;
  align-items: center;
}

.third-page{
  margin-top: 90px;
  /* height: 150vh; */
  padding: 70px 0px;
}

.third-page-header{
  padding: 0px 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.arrows{
  position: absolute;
  right: 150px;
}

.arrows span{
  font-size: 22px;
  padding: 0px 3px;
  /* clip-path: circle(30%); */
  color: #3247C6;
  /* background-color: #3247C6; */
  border: 1px solid #3247C6;
  border-radius: 30px;  
}

.testimonial-card-container{
  display: flex;
  gap: 40px;
  padding-left: 125px;
  width: 100%;
  margin: 70px 0px;
}

.testimonial-card{
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  width: 45%;
  border: 1px solid #3247C6 ;
  border-radius: 20px;
}

.testimonial-card>h2{
  font-size: 20px;
  color: #3247C6;
}

.testimonial-card>h3{
  font-size: 14px;
  margin-top: 13px;
  margin-bottom: 13px;
}

.testimonial-card>p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 25px;
}

.extra-info{
  display: flex;
  justify-content: space-between;
}

.ratings>p{
  font-size: 14px;
  margin-bottom: 8px;
}

.stars{
  color: #3247C6;
  ;
}

.student-info>p{
  font-size: 14px;
  margin-bottom: 6px;
  margin-top: 3px;
}

.student-info>div{
  font-size: 12px;
  /* margin-bottom: 6px; */
  margin-top: 12px;
} 
.student-info i{
  color: #3247C6;
  margin-right: 3px;
}

.faq-card-container{
  background: url("Abstract-wave-png-17\ 2.png")
 center no-repeat ;
  height: 52vh;
  padding: 0px 125px;
  margin: 70px 0px;
}


.card1-container>h2{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.card1-container>p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 1px;
}

.faq-card1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 55px;
  border: 1px solid #3247C6;
  border-radius: 20px;
}

.faq-card1>i{
  font-size: 30px;
}

.faq-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 55px;
  border-bottom: 1px solid #3247C6;
  
}

.faq-card>h2{
  font-size: 18px;
  font-weight: 500;
}

.faq-card>i{
  font-size: 30px;
}

.footer{
  display: flex;
  background-color: #3248c6;
  height: 45vh;
  padding: 100px 125px;
}

.footer-left-side{
  flex-grow: 1;
  width: 50%;
}

.footer-right-side{
  flex-grow: 1;
  width: 50%;
}

.footer-left-side{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 25px ;
}

.field{
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 30px 25px;
  color: white;
  border: 1px solid #FFFC31;
  font-size: 14px;
  font-weight: 200;
}

.social-media{
  display: flex;
  align-items: center;
  position: relative;
  color: white;
  font-weight: 200;
  font-size: 14px;
}

.footer-left-side>p{
  color: white;
  font-size: 14px;
  font-weight: 200;
  width: 80%;
}

.empty{
  border: 1px solid #FFFC31;
  height: 24px;
}

.field>i{
  color: #FFFC31;
}

.social-media>i{
  font-size: 22px;
  margin-left: 10px;
}

.right-top{
  display: flex;
}

.div{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 15px ;
  color: white;
}

.title{
  font-weight: 500;
  font-size: 22px;
}

.div span{
  font-size: 14px;
  font-weight: 200;
}

.right-bottom>button{
  background-color:#E54F6D;
  color: white;
  border: 1px solid #E54F6D;
  border: none;
  font-size: 13px;
  padding: 10px 40px;
  border-radius: 5px;
  font-weight: 100;
  display: flex;
  align-items: center;
}

.right-bottom>input{
  border: none;
  background: none;
  flex-grow: 1;
}

.right-bottom{
  margin-top: 15px;
  width: 90%;
  height: 5vh;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 18px 18px;
  border-radius: 7px;
}

.footer-right-side{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.right-bottom>input::placeholder{
  font-family: Unbounded;
  font-size: 16px;
}

.context-right-side>img{
  box-shadow: -30px -30px 20px 0px rgba(0, 0, 0, 0.256);
}